body {
  background-color: #222222;
  color: #F8F8F2;
}

.edit-area {
    background-color: #191919;
    color: #DDDDDD;
    resize: none;
    border-color: #000000;
    border-radius: 5px;
    border-width: 1px;
    width: 50%;
    height: 50%;
    outline: none;
}
